html {
  scroll-behavior: smooth;
}
h2 {
  text-align: center;
}
h4 {
  margin-top : var(--pico-typography-spacing-vertical);
}
header.container, main.container {
  padding-block: 0;
}
main.container {
  margin-top:0;
}
input.icon-button, button.icon-button {
  width:59px;
  margin:0;
}