#logo {
  display:flex;
  align-items: center;
}
#logo img {
  height:120px;
  margin-right:20px;
}
caption {
  font-size:1.5rem;
  font-weight:bold;
}
#totaux td, #totaux th {
  text-align: center;
  box-sizing: border-box;
  width:50%;
}
select, select:invalid {
  color:white;
  text-align:center;
  padding-left:45px;
}
select.bonus {
  background-color:#04AA6D;
}
select.malus {
  background-color:#f44336;
}
input.icon-button {
  width:59px;
  margin:0;
}
#form_new input {
  margin:0;
}