h2 {
  text-align: center;
}
h4 {
  margin-top : var(--pico-typography-spacing-vertical);
}
header.container, main.container {
  padding-block: 0;
}
main.container {
  margin-top:0;
}
#logo {
  display:flex;
  align-items: center;
  padding:0;
}
#logo a {
  margin:0;
}
#logo img {
  height:120px;
  margin-right:20px;
}
caption {
  font-size:1.5rem;
  font-weight:bold;
}
#bonus-malus {
  margin-bottom:0;
}
#bonus-malus td, #bonus-malus th {
  text-align: center;
  box-sizing: border-box;
  width:50%;
}
#bilan {
  width:250px;
  margin-left:auto;
  margin-right:auto;
}
select, select:invalid {
  color:white;
  text-align:center;
  padding-left:45px;
}
select.bonus {
  background-color:#04AA6D;
}
select.malus {
  background-color:#f44336;
}
input.icon-button {
  width:59px;
  margin:0;
}
#form_new input {
  margin:0;
}
